/* UPLOAD RESULT */
/* Table */
.h1 {
    font-family: 'Michroma';
}
.bordered-table {
    border-collapse: collapse;
}

.bordered-table th, .bordered-table td {
    border: 1px solid black;
    padding: 8px;
    font-family: 'Open Sans';
}